Package: bz.jed.tweakcompatible
Name: tweakCompatible
Depends: mobilesubstrate
Version: 0.0.7
Architecture: iphoneos-arm
Description: Adds a way to check tweak compatibility in cydia
Maintainer: Jed
Author: Jed
Section: Tweaks
